{% extends 'base.html.twig' %}


{% block title %}Hello HomeController!{% endblock %}

{% block body %}

        <div id="map"></div>

        {# <div id="listeFlotte">{% include 'flotte/index.html.twig' %}</div> #}

        <div id="dataContainer">

        </div>



{% endblock %}
